//@font-face {
//    font-family: 'arimo';
//    src: url('../fonts/arimo/arimo-regular-webfont.eot');
//    src: url('../fonts/arimo/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
//    url('../fonts/arimo/arimo-regular-webfont.woff2') format('woff2'),
//    url('../fonts/arimo/arimo-regular-webfont.woff') format('woff'),
//    url('../fonts/arimo/arimo-regular-webfont.ttf') format('truetype'),
//    url('../fonts/arimo/arimo-regular-webfont.svg#arimoregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}

$body-text-color: #3f3f3f;
$color-2: #252525;
$color-2-1: #eeeeee;
$color-2-2: #b2dfff;
$color-3: #ffffff;
$color-4: #e5e5e5;

$header-box-shadow: rgba(142,142,142,.2);
$header-top-background-color: $color-2;
$header-top-text-color: $color-2-1;
$header-top-text-color-hover: $color-2-2;
$header-main-background-color: $color-3;
$header-main-border-color: $color-4;

$header-cart-border-color: #ffffff;
$header-cart-background-color: #ffffff;
$header-cart-text-color: #ffffff;

$header-user-name-text-color: #b2dfff;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow:    $shadow;
    -ms-box-shadow:     $shadow;
    box-shadow:         $shadow;
}

@mixin box-shadow-inset($h-shadow, $v-shadow,$blur,$spread, $color) {
    -webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
    -moz-box-shadow:    inset $h-shadow $v-shadow $blur $spread $color;
    -ms-box-shadow:     inset $h-shadow $v-shadow $blur $spread $color;
    box-shadow:         inset $h-shadow $v-shadow $blur $spread $color;
}

@mixin transition($tran) {
    -webkit-transition: $tran;
    -moz-transition: $tran;
    -o-transition: $tran;
    transition: $tran;
}
@mixin columns($tran) {//columns(300px 2)
    -webkit-columns: $tran;
    -moz-columns: $tran;
    columns: $tran;
}
@mixin rotate($deg) {//14deg
    transform: rotate($deg) ;
    -webkit-transform: rotate($deg) ;
    -moz-transform: rotate($deg) ;
    -o-transform: rotate($deg) ;
    -ms-transform: rotate($deg) ;
}

@mixin rotate($tran) {//scale(0.899, 0.496); scale(0.899);
    transform: scale($tran);
    -webkit-transform: scale($tran);
    -moz-transform: scale($tran);
    -o-transform: scale($tran);
    -ms-transform: scale($tran);
}

@mixin background-image-full-page($url){
    background: $url;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

@mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right){
    $shadow: '';
    @if $skew == false or $type == text{
        @if $direction == right {
            @for $i from 0 to $length - 1 {
                $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
            }
        }
        @if $direction == left {
            @for $i from 0 to $length - 1 {
                $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
            }
        }
    }

    @if $fadeout == true{
        @for $i from 1 to $length - 1 {
            @if $type == text or $skew == false{
                @if $direction == right{
                    $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
                }
                @if $direction == left{
                    $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
                }
            }
            @if ($type == box) and $skew == true{
                @if $direction == right {
                    $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
                }
                @if $direction == left {
                    $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
                }
            }
        }
        $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
    }
    @if $fadeout == false{
        @if $skew == true and ( $type == box ){
            @for $i from 0 to $length - 1 {
                $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
            }
        }
        $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
    }
    $shadow: unquote($shadow);
    @if $type == 'box' {box-shadow: $shadow;}
    @if $type == 'text' {text-shadow: $shadow;}
}