.header, .page, .page-footer, footer, html, body{
  min-width: 320px;
}



//--------------------------------------------------------------------------------------------------------------
//-----max
//--------------------------------------------------------------------------------------------------------------
@media (min-width: 1224px) {

}

//--------------------------------------------------------------------------------------------------------------
//-----lg
//--------------------------------------------------------------------------------------------------------------
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}
@media (min-width: 1200px) and (max-width: 1223px){

}
//--------------------------------------------------------------------------------------------------------------
//-----md
//--------------------------------------------------------------------------------------------------------------
@media (min-width: 992px) {
  //    col-md
}
@media (min-width: 992px) and (max-width: 1199px){
  .container{
    width: 970px;
  }

  .header-top{
    .menu-main{
      float: left;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          float: left;
          padding: 6px 0;
          a{
            display: block;
            font-size: 14px;
            line-height: 16px;
            margin-right: 32px;
            &:hover{
            }
          }
        }
      }
    }
    .lang-vn-en{
      float: right;
      padding: 2px 0;
      a{
        width: 32px;
        height: 24px;
        display: block;
        float: left;
        margin-left: 6px;
        position: relative;
        .flag{
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }
        .vi{
          background-image: url("../images/flag-vn.png");
        }
        .en{
          background-image: url("../images/flag-en.png");
        }
        .active{
          opacity: 1;
        }
      }
    }
  }

  .header-main {
    .navbar-epal{
      .navbar-collapse{
        //padding-left: 0;
        //padding-right: 0;
      }
    }
    .navbar-home{
      .fa{
      }
      &:before{
      }
      &:hover{
      }
    }
    .navbar-form{
      width: 294px;
    }
    .form-group{
      &:hover{
        .btn{
        }
      }
      .form-control{
      }
      .btn{
      }
    }
    .navbar-toggle{
      .icon-bar{
      }
    }
  }

  .header-mid{
    .my-logo{
      float: left;
      margin-top: 5px;
      img{
        height: 76px;
      }
    }
  }

  .home-showroom{
    padding-top: 20px;
    h2{
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 30px;
    }
    h3{
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .showroom{
      padding: 13px 35px 13px 13px;
      margin-bottom: 29px;
      overflow: auto;
      img{
        float: left;
      }
      .address-showroom{
        h4{
          margin-top: 5px;
          margin-bottom: 8px;
          margin-left: 66px;
          //line-height: 14px;
          font-size: 14px;
        }
        p{
          margin-left: 66px;
          line-height: 17px;
          margin-bottom: 2px;
          //font-size: 13px;
          padding-left: 17px;
          position: relative;
        }
        .icon-add-1{
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: FontAwesome;
            content: "\f041";
            padding-right: 7px;
          }
        }
        .icon-add-2{
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: FontAwesome;
            content: "\f095";
            padding-right: 7px;
          }
        }
      }
    }
  }

  .partners{
    padding-top: 20px;
    h2{
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .partners-left{
    margin-bottom: 25px;
    h3{
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
    }
    a{
      font-size: 30px;
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 30px;
      display: inline-block;
    }
  }

  .partners-right{
    margin-bottom: 25px;
    h3{
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 13px;
      display: inline-block;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        a{
          line-height: 25px;
          text-decoration: none;
        }
      }
    }
  }

  .products-catalog{
    width: 100%;
    .container{
      width: calc(100% - 45px);
    }
    .pager-pagination{
      .pagination{
        margin: 30px 0 20px 0;
      }
    }
  }

  .products-catalog-result{
    width: 100%;
    .container{
      width: calc(100% - 45px);
    }
    .pager-pagination{
      .pagination{
        margin: 30px 0 20px 0;
      }
    }
  }

  .product-grid{
    .prod-warp{
      //width: 20%;
    }
  }

  .prod-warp{
    position: relative;
    float: left;
    &:hover{
      .prod-main{
        img{
          opacity: 1;
        }
      }
      .prod-view{
        display: block;
      }
      .prod-buy{
        display: block;
      }
    }
    .prod-main{
      padding: 14px;
      min-height: 293px;
      img{
        opacity: 1;
      }
    }
    .prod-title{
      h4{
        line-height: 11px;
        margin: 10px 0;
        font-size: 14px;
      }
      p{
        line-height: 14px;
        font-size: 18px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 0;
        border-bottom: 1px solid #f4f4f4;
      }
      span{
        line-height: 14px;
        font-size: 17px;
        display: inline-block;
        margin-bottom: 0;
        span{
          line-height: 14px;
          font-size: 17px;
          display: inline-block;
          margin-bottom: 0;
        }
      }
      .cost-new{
        span{
          line-height: 14px;
          font-size: 17px;
        }
      }
      .cost-old{
        display: inline-block;
        font-size: 10px;
        line-height: 10px;
        text-decoration: line-through;
        padding-top: 0;
        margin-bottom: 0;
        border-top: none;
        span{
          text-decoration: line-through;
          line-height: 10px;
          font-size: 10px;
        }
      }
    }
    .sale-off{
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      z-index: 100;
      display: none;
      span{
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
      &.active{
        display: block;
      }
    }
    .prod-new{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      z-index: 100;
      display: none;
      span{
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
      &.active{
        display: block;
      }
    }
    .prod-view{
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      padding-top: 120px;
      min-height: 100%;
      z-index: 1;
      transition: all 0.3s ease-out 0.25s;
      //transform: scale(0);
      p{
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }
    }
    .prod-buy{
      position: absolute;
      max-width: 80%;
      bottom: 106px;
      left: 10%;
      z-index: 2;
      text-align: center;
      a{
        line-height: 12px;
        font-size: 12px;
        display: inline-block;
        padding: 10px 25px;
      }
    }
  }

  .products-detail{
    .slider-for{
      margin-bottom: 20px;
    }
    .slider-nav{
      margin-bottom: 40px;
      .slick-prev,
      .slick-next {
        position: absolute;
        display: block;
        height: 100%;
        width: auto;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0 8px;
        outline: none;
        border: none;
        border-radius: inherit;
        transition: all 0.3s ease-out 0.25s;
        &:hover, &:focus {
          outline: none;
          z-index: 99;
          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }
        &.slick-disabled:before {
          opacity: $slick-opacity-not-active;
        }
        &:before {
          line-height: 15px;
          opacity: $slick-opacity-default;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background: transparent;
          font-size: 13px;
          font-weight: 700;
          padding: 0;
          text-transform: uppercase;
          transition: all 0.3s ease-out 0.25s;
        }
      }
      .slick-prev {
        left: 0;
        z-index: 100;
        &:before {
          font-family: FontAwesome;
          content: "\f104";
          font-size: 27px;
          line-height: 27px;
        }
      }
      .slick-next {
        right: 0;
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          font-size: 27px;
          line-height: 27px;
        }
      }
    }
    .prod-detail-title{
      font-size: 24px;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .products-imfo{
      overflow: auto;
      ul{
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        li{
          &:last-child{
          }
          p{
            width: 50%;
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            padding: 8px 0 8px 17px;
            margin: 0;
          }
        }
      }
    }
    .see-more{
      display: block;
      text-align: center;
      line-height: 6px;
      padding: 9px;
    }
    .prod-detail-select{
      padding-top: 0;
      p{
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 18px;
        font-size: 15px;
      }
      span{
        display: inline-block;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0px;
        span{
          display: inline-block;
        }
        &.cost-new{
          span{
          }
        }
        &.cost-old{
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 12px;
          text-decoration: line-through;
          span{
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 12px;
            text-decoration: line-through;
          }
        }
      }
    }
    .buy-it{
      display: block;
      line-height: 18px;
      font-size: 13px;
      margin-bottom: 20px;
      padding: 6px 12px;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      transition: all 0.25s ease-out 0.1s;
      &:hover{
        span{
          &:before{
          }
          &:after{
          }
        }
      }
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
      }
      span{
        position: absolute;
        width: 100%;
        height: 34px;
        display: inline-block;
        top: -2px;
        left: 0;
        z-index: -1;
        transition: all 0.25s ease-out 0.2s;
        &:before{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          left: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          right: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
      }
    }
  }

  .footer{
    padding-top: 30px;
    h3{
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .footer-left{
      margin-bottom: 30px;
      .content{
        padding: 5px 0;
        margin-bottom: 10px;
        p{
          margin: 0;
          font-size: 12px;
          line-height: 23px;
        }
      }
      img{
        width: 160px;
      }
    }
    .footer-mid{
      margin-bottom: 30px;
      .navbar-form{
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-height: 38px;
        position: relative;
        margin-bottom: 8px;
      }
      .form-group{
        width: 100%;
        .form-control{
          width: 100%;
          min-height: 38px;
          border: none;
          border-radius: inherit;
          box-shadow: none;
          font-size: 14px;
        }
        .btn{
          position: absolute;
          right: -1px;
          top: -1px;
          min-height: 40px;
          border-radius: inherit;
          box-shadow: none;
          font-size: 10px;
          padding: 12px 5px;
          line-height: 14px;
          &:hover{
          }
        }
      }
      .share-foot{
        margin-bottom: 20px;
      }
    }
    .footer-right{
      margin-bottom: 30px;

    }
  }

}
//--------------------------------------------------------------------------------------------------------------
//------sm
//--------------------------------------------------------------------------------------------------------------
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px){
  .container{
    width: 750px;
  }

  /*.core-brain {
    top: 29px;
  }*/
  .header-mid{
    .my-logo{
      img{
        height: 55px;
      }
    }
  }
  .header-main {
    .navbar-epal{
      .navbar-collapse{
        //padding-left: 0;
        //padding-right: 0;
      }
    }
    .navbar-home{
      .fa{
      }
      &:before{
      }
      &:hover{
      }
    }
    .navbar-form{
      width: 220px;
    }
    .form-group{
      &:hover{
        .btn{
        }
      }
      .form-control{
      }
      .btn{
      }
    }
    .navbar-toggle{
      .icon-bar{
      }
    }
  }
  .header-top{
    .menu-main{
      float: left;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          float: left;
          padding: 6px 0;
          a{
            display: block;
            font-size: 12px;
            line-height: 16px;
            margin-right: 32px;
            &:hover{
            }
          }
        }
      }
    }
    .lang-vn-en{
      float: right;
      padding: 2px 0;
      a{
        width: 32px;
        height: 24px;
        display: block;
        float: left;
        margin-left: 6px;
        position: relative;
        .flag{
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }
        .vi{
          background-image: url("../images/flag-vn.png");
        }
        .en{
          background-image: url("../images/flag-en.png");
        }
        .active{
          opacity: 1;
        }
      }
    }
  }

  .home-showroom{
    padding-top: 20px;
    h2{
      color: #FFFFFF;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 30px;
    }
    h3{
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .showroom{
      padding: 13px 35px 13px 13px;
      margin-bottom: 29px;
      overflow: auto;
      img{
        float: left;
      }
      .address-showroom{
        h4{
          margin-top: 5px;
          margin-bottom: 8px;
          margin-left: 66px;
          //line-height: 14px;
          font-size: 13px;
        }
        p{
          margin-left: 66px;
          line-height: 17px;
          margin-bottom: 2px;
          //font-size: 13px;
          padding-left: 17px;
          position: relative;
        }
        .icon-add-1{
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: FontAwesome;
            content: "\f041";
            padding-right: 7px;
          }
        }
        .icon-add-2{
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: FontAwesome;
            content: "\f095";
            padding-right: 7px;
          }
        }
      }
    }
  }

  .partners{
    padding-top: 20px;
    h2{
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .partners-left{
    margin-bottom: 25px;
    h3{
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
    }
    a{
      font-size: 30px;
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 30px;
      display: inline-block;
    }
  }

  .partners-right{
    margin-bottom: 25px;
    h3{
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 13px;
      display: inline-block;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        a{
          line-height: 25px;
          text-decoration: none;
        }
      }
    }
  }

  .products-catalog{
    width: 100%;
    .container{
      width: calc(100% - 45px);
    }
    .pager-pagination{
      .pagination{
        margin: 30px 0 20px 0;
      }
    }
  }

  .products-catalog-result{
    width: 100%;
    .container{
      width: calc(100% - 45px);
    }
    .pager-pagination{
      .pagination{
        margin: 30px 0 20px 0;
      }
    }
  }
  .product-grid{
    .prod-warp{
      width: 25%;
    }
  }

  .prod-warp{
    position: relative;
    float: left;
    &:hover{
      .prod-main{
        img{
          opacity: 1;
        }
      }
      .prod-view{
        display: block;
      }
      .prod-buy{
        display: block;
      }
    }
    .prod-main{
      padding: 14px;
      min-height: 293px;
      img{
        opacity: 1;
      }
    }
    .prod-title{
      h4{
        line-height: 11px;
        margin: 10px 0;
        font-size: 14px;
      }
      p{
        line-height: 14px;
        font-size: 14px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 0;
      }
      span{
        line-height: 14px;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 0;
        span{
          line-height: 14px;
          font-size: 14px;
          display: inline-block;
          margin-bottom: 0;
        }
      }
      .cost-new{
        span{
          line-height: 14px;
          font-size: 14px;
        }
      }
      .cost-old{
        display: inline-block;
        font-size: 8px;
        line-height: 8px;
        text-decoration: line-through;
        padding-top: 0;
        margin-bottom: 0;
        border-top: none;
        span{
          text-decoration: line-through;
          line-height: 8px;
          font-size: 8px;
        }
      }
    }
    .sale-off{
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      z-index: 100;
      display: none;
      span{
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
      &.active{
        display: block;
      }
    }
    .prod-new{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      z-index: 100;
      display: none;
      span{
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
      &.active{
        display: block;
      }
    }
    .prod-view{
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      padding-top: 100px;
      min-height: 100%;
      z-index: 1;
      transition: all 0.3s ease-out 0.25s;
      //transform: scale(0);
      p{
        font-size: 10px;
        line-height: 15px;
        margin: 0;
      }
    }
    .prod-buy{
      position: absolute;
      max-width: 80%;
      bottom: 106px;
      left: 10%;
      z-index: 2;
      text-align: center;
      a{
        line-height: 12px;
        font-size: 12px;
        display: inline-block;
        padding: 10px 10px;
      }
    }
  }

  .products-detail{
    .slider-for{
      margin-bottom: 20px;
    }
    .slider-nav{
      margin-bottom: 40px;
      .slick-prev,
      .slick-next {
        position: absolute;
        display: block;
        height: 100%;
        width: auto;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0 8px;
        outline: none;
        border: none;
        border-radius: inherit;
        transition: all 0.3s ease-out 0.25s;
        &:hover, &:focus {
          outline: none;
          z-index: 99;
          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }
        &.slick-disabled:before {
          opacity: $slick-opacity-not-active;
        }
        &:before {
          line-height: 15px;
          opacity: $slick-opacity-default;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background: transparent;
          font-size: 13px;
          font-weight: 700;
          padding: 0;
          text-transform: uppercase;
          transition: all 0.3s ease-out 0.25s;
        }
      }
      .slick-prev {
        left: 0;
        z-index: 100;
        &:before {
          font-family: FontAwesome;
          content: "\f104";
          font-size: 27px;
          line-height: 27px;
        }
      }
      .slick-next {
        right: 0;
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          font-size: 27px;
          line-height: 27px;
        }
      }
    }
    .prod-detail-title{
      font-size: 24px;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .products-imfo{
      overflow: auto;
      ul{
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        li{
          &:last-child{
          }
          p{
            width: 50%;
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            padding: 8px 0 8px 17px;
            margin: 0;
          }
        }
      }
    }
    .see-more{
      display: block;
      text-align: center;
      line-height: 6px;
      padding: 9px;
    }
    .prod-detail-select{
      padding-top: 0;
      p{
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 18px;
        font-size: 15px;
      }
      span{
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
        span{
          display: inline-block;
        }
        &.cost-new{
          span{
          }
        }
        &.cost-old{
          font-size: 10px;
          line-height: 10px;
          margin-bottom: 12px;
          text-decoration: line-through;
          span{
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 12px;
            text-decoration: line-through;
          }
        }
      }
    }
    .buy-it{
      display: block;
      line-height: 18px;
      font-size: 11px;
      margin-bottom: 20px;
      padding: 6px 12px;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      transition: all 0.25s ease-out 0.1s;
      &:hover{
        span{
          &:before{
          }
          &:after{
          }
        }
      }
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
      }
      span{
        position: absolute;
        width: 100%;
        height: 34px;
        display: inline-block;
        top: -2px;
        left: 0;
        z-index: -1;
        transition: all 0.25s ease-out 0.2s;
        &:before{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          left: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          right: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
      }
    }
  }

  .footer{
    padding-top: 30px;
    h3{
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .footer-left{
      margin-bottom: 30px;
      .content{
        padding: 5px 0;
        margin-bottom: 10px;
        p{
          margin: 0;
          font-size: 12px;
          line-height: 23px;
        }
      }
      img{
        width: 160px;
      }
    }
    .footer-mid{
      margin-bottom: 30px;
      .navbar-form{
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-height: 38px;
        position: relative;
        margin-bottom: 8px;
      }
      .form-group{
        width: 100%;
        .form-control{
          width: 100%;
          min-height: 38px;
          border: none;
          border-radius: inherit;
          box-shadow: none;
          font-size: 14px;
        }
        .btn{
          position: absolute;
          right: -1px;
          top: -1px;
          min-height: 40px;
          border-radius: inherit;
          box-shadow: none;
          font-size: 10px;
          padding: 12px 5px;
          line-height: 14px;
          &:hover{
          }
        }
      }
      .share-foot{
        margin-bottom: 20px;
      }
    }
    .footer-right{
      margin-bottom: 30px;

    }
  }
}
//--------------------------------------------------------------------------------------------------------------
@media (max-width: 479px) {

}

@media (min-width: 480px) and(max-width: 767px) {

}
//--------------------------------------------------------------------------------------------------------------
//-----xs
//--------------------------------------------------------------------------------------------------------------
@media (max-width: 767px) {
  /*.core-brain {
    top: 22px;
  }*/

  .header-top{
    .menu-main{
      ul{
        li{
          margin-right: 10px;
          &:last-child{
          }
          a{
            font-size: 12px;
            line-height: 16px;
            &:hover{
            }
          }
        }
      }
    }
    .lang-vn-en{
      float: right;
      padding: 2px 0;
      a{
        width: 32px;
        height: 24px;
        display: block;
        float: left;
        margin-left: 6px;
        position: relative;
        .flag{
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }
        .vi{
          background-image: url("../images/flag-vn.png");
        }
        .en{
          background-image: url("../images/flag-en.png");
        }
        .active{
          opacity: 1;
        }
      }
    }
  }
  .header-main {
    .navbar-epal{
      .navbar-collapse{
        //padding-left: 0;
        //padding-right: 0;
      }
      .nb-search{
        top: -2px;
        right: inherit;
        left: 50px;
      }
    }
    .navbar-home{
      .fa{
      }
      &:before{
      }
      &:hover{
      }
    }
    .navbar-form{
      width: 100%;
    }
    .form-group{
      &:hover{
        .btn{
        }
      }
      .form-control{
      }
      .btn{
      }
    }
    .navbar-toggle{
      .icon-bar{
      }
    }
  }
  .header-slider{
    display: none;
  }

  .header-mid{
    .my-logo{
      float: left;
      img{
        height: 50px;
      }
    }
  }

  .products-slider{
    margin-left: 0;
    margin-right: 0;
    > div.prod-warp{
      max-width: 50%;
      margin-left: -5px;
    }
    > div.prod-warp + div.prod-warp + div.prod-warp{
      display: none;
    }

    .slick-prev,
    .slick-next {
      &:hover, &:focus {
        &:before {
        }
      }
      &.slick-disabled:before {
      }
      &:before {
      }
    }
    .slick-prev {
      left: -35px;
      z-index: 100;
      &:before {
        font-family: FontAwesome;
        content: "\f104";
        font-size: 27px;
        line-height: 27px;
        color: #959595;
      }
    }
    .slick-next {
      right: -35px;
      &:before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 27px;
        line-height: 27px;
        color: #959595;
      }
    }
  }

  .home-showroom{
    padding-top: 20px;
    h2{
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 0;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 30px;
    }
    h3{
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .showroom{
      padding: 13px 35px 13px 13px;
      border: 1px solid #f4f4f4;
      margin-bottom: 29px;
      overflow: auto;
      img{
        float: left;
      }
      .address-showroom{
        h4{
          margin-top: 5px;
          margin-bottom: 8px;
          margin-left: 66px;
          line-height: 14px;
          font-size: 12px;
          text-overflow: clip;
          white-space: inherit;
        }
        p{
          margin-left: 66px;
          line-height: 17px;
          margin-bottom: 2px;
          font-size: 13px;
          padding-left: 17px;
          position: relative;
          max-height: 100px;
        }
        .icon-add-1{
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: FontAwesome;
            content: "\f041";
            padding-right: 7px;
          }
        }
        .icon-add-2{
          &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: FontAwesome;
            content: "\f095";
            padding-right: 7px;
          }
        }
      }
    }
  }

  .home-tittle{
    padding: 20px 0;
    &:before{

    }
    h2{
      line-height: 24px;
      font-size: 12px;
      margin: 0;
      padding: 5px 15px;
      &:before{
      }
      &:after{
      }
      span{
        position: absolute;
        width: 100%;
        height: 36px;
        display: inline-block;
        top: -1px;
        left: 0;
        z-index: -1;
        &:before{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          left: -18px;
          display: inline-block;
          border-top: 18px solid transparent;
          border-bottom: 18px solid transparent;
          position: absolute;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          right: -18px;
          display: inline-block;
          border-top: 18px solid transparent;
          border-bottom: 18px solid transparent;
          position: absolute;
        }
      }
    }
    &.blue-sky{
      h2{
        color: #ffffff;
        &:before{
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
        }
        &:after{
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
        }
      }
    }
  }

  .partners{
    padding-top: 20px;
    h2{
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 12px 12px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .partners-left{
    margin-bottom: 25px;
    h3{
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
    }
    a{
      font-size: 30px;
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 30px;
      display: inline-block;
    }
  }

  .partners-right{
    margin-bottom: 25px;
    h3{
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 13px;
      display: inline-block;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        a{
          line-height: 25px;
          text-decoration: none;
        }
      }
    }
  }

  .pager-pagination{
    text-align: center;
    padding: 30px 0;
    .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 0;
      border-radius: inherit;
      > li {
        display: inline; // Remove list-style and block-level defaults
        > a,
        > span {
          position: relative;
          float: left; // Collapse white-space
          padding: 7px 9px;
          line-height: 11px;
          text-decoration: none;
          background-color: transparent;
          margin-left: 1px;
          margin-right: 1px;
          transition: all 0.3s ease-out 0.25s;
        }
        &:first-child {
          > a,
          > span {
            margin-left: 0;
            border-radius: inherit;
          }
        }
        &:last-child {
          > a,
          > span {
            border-radius: inherit;
          }
        }
      }

      > li > a,
      > li > span {
        &:hover,
        &:focus {
          z-index: 2;
          background-color: transparent;
        }
      }

      > .active > a,
      > .active > span {
        &,
        &:hover,
        &:focus {
          z-index: 3;
          background-color: transparent;
          cursor: default;
        }
      }

      > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
          background-color: transparent;
          cursor: $cursor-disabled;
        }
      }
    }
  }

  .pager-breadcrumb{
    width: 100%;
    margin-bottom: 20px;
    .breadcrumb{
      padding: 12px 15px;
      list-style: none;
      border-radius: inherit;
      border-top: none;
      margin-bottom: 0;
      li{
        a{
          font-size: 12px;
          line-height: 15px;
        }
        &:hover{
          a{
          }
        }
      }
      .active{
      }
    }
  }

  .products-catalog{
    width: 100%;
    .container{
      //width: calc(100% - 45px);
    }
    .pager-pagination{
      .pagination{
        margin: 30px 0 20px 0;
      }
    }
  }

  .products-catalog-result{
    width: 100%;
    .container{
      //width: calc(100% - 45px);
    }
    .pager-pagination{
      .pagination{
        margin: 30px 0 20px 0;
      }
    }
  }

  .product-grid{
    .prod-warp{
      width: 50%;
    }
  }

  .prod-warp{
    position: relative;
    width: 50%;
    float: left;
    &:hover{
      .prod-main{
        img{
          opacity: 1;
        }
      }
      .prod-view{
        display: block;
      }
      .prod-buy{
        display: block;
      }
    }
    .prod-main{
      padding: 5px;
      img{
        opacity: 1;
      }
    }
    .prod-title{
      h4{
        line-height: 11px;
        margin: 10px 0;
        font-size: 14px;
      }
      p{
        line-height: 14px;
        font-size: 14px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 0;
        border-bottom: 1px solid #f4f4f4;
      }
      span{
        line-height: 12px;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 0;
        span{
          line-height: 14px;
          font-size: 14px;
          display: inline-block;
          margin-bottom: 0;
        }
      }
      .cost-new{
        span{
          line-height: 14px;
          font-size: 14px;
        }
      }
      .cost-old{
        display: inline-block;
        font-size: 8px;
        line-height: 8px;
        text-decoration: line-through;
        padding-top: 0;
        margin-bottom: 0;
        border-top: none;
        span{
          text-decoration: line-through;
          line-height: 8px;
          font-size: 8px;
        }
      }
    }
    .sale-off{
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      z-index: 100;
      display: none;
      span{
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
      &.active{
        display: block;
      }
    }
    .prod-new{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      transform: rotate(45deg);
      z-index: 100;
      display: none;
      span{
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #FFFFFF;
        font-size: 12px;
        transform: rotate(-45deg);
      }
      &.active{
        display: block;
      }
    }
    .prod-view{
      display: none;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      padding-top: 80px;
      min-height: 100%;
      z-index: 1;
      transition: all 0.3s ease-out 0.25s;
      //transform: scale(0);
      p{
        font-size: 8px;
        line-height: 15px;
        margin: 0;
      }
    }
    .prod-buy{
      position: absolute;
      max-width: 80%;
      bottom: 106px;
      left: 10%;
      z-index: 2;
      text-align: center;
      a{
        line-height: 10px;
        font-size: 10px;
        display: inline-block;
        padding: 5px 5px;
      }
    }
  }

  .products-detail{
    .slider-for{
      margin-bottom: 20px;
    }
    .slider-nav{
      margin-bottom: 40px;
      .slick-prev,
      .slick-next {
        position: absolute;
        display: block;
        height: 100%;
        width: auto;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        color: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0 8px;
        outline: none;
        border: none;
        border-radius: inherit;
        transition: all 0.3s ease-out 0.25s;
        &:hover, &:focus {
          outline: none;
          z-index: 99;
          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }
        &.slick-disabled:before {
          opacity: $slick-opacity-not-active;
        }
        &:before {
          line-height: 15px;
          opacity: $slick-opacity-default;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background: transparent;
          font-size: 13px;
          font-weight: 700;
          padding: 0;
          text-transform: uppercase;
          transition: all 0.3s ease-out 0.25s;
        }
      }
      .slick-prev {
        left: 0;
        z-index: 100;
        &:before {
          font-family: FontAwesome;
          content: "\f104";
          font-size: 27px;
          line-height: 27px;
        }
      }
      .slick-next {
        right: 0;
        &:before {
          font-family: FontAwesome;
          content: "\f105";
          font-size: 27px;
          line-height: 27px;
        }
      }
    }
    .prod-detail-title{
      font-size: 24px;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .products-imfo{
      overflow: auto;
      ul{
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        li{
          &:last-child{
          }
          p{
            width: 50%;
            display: inline-block;
            font-size: 12px;
            line-height: 16px;
            padding: 8px 0 8px 17px;
            margin: 0;
          }
        }
      }
    }
    .see-more{
      display: block;
      text-align: center;
      line-height: 6px;
      padding: 9px;
    }
    .prod-detail-select{
      padding-top: 15px;
      p{
        margin-top: 0;
        margin-bottom: 5px;
        line-height: 18px;
        font-size: 15px;
      }
      span{
        display: inline-block;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
        span{
          display: inline-block;
        }
        &.cost-new{
          span{
          }
        }
        &.cost-old{
          font-size: 10px;
          line-height: 10px;
          margin-bottom: 12px;
          text-decoration: line-through;
          span{
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 12px;
            text-decoration: line-through;
          }
        }
      }
    }
    .buy-it{
      display: block;
      line-height: 18px;
      font-size: 11px;
      margin-bottom: 20px;
      padding: 6px 12px;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      transition: all 0.25s ease-out 0.1s;
      &:hover{
        span{
          &:before{
          }
          &:after{
          }
        }
      }
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
      }
      span{
        position: absolute;
        width: 100%;
        height: 34px;
        display: inline-block;
        top: -2px;
        left: 0;
        z-index: -1;
        transition: all 0.25s ease-out 0.2s;
        &:before{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          left: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          right: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
      }
    }
  }

  .products-comment{
    padding-top: 30px;
    .nav-tabs {
      border-bottom: none;
      > li {
        float: left;
        margin-bottom: 0;
        > a {
          margin-right: 2px;
          line-height: 20px;
          font-size: 14px;
          border: none;
          border-radius: inherit;
          background: transparent;
          text-transform: uppercase;
          padding: 14px 14px;
          &:hover {
            border-color: transparent;
            background: #f3f3f3;
          }
        }
      }
    }
    .tab-content{
      background: #f3f3f3;
      padding: 30px;
      .content{
        p{
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 25px;
        }
        img{
          margin: 0 auto 25px auto;
        }
      }
    }
  }

  #commentForm{
    label{
      line-height: 25px;
      font-size: 16px;
      margin-bottom: 20px;
      float: left;
    }
    input{
      line-height: 46px;
      font-size: 14px;
      margin-bottom: 20px;
      padding: 0 16px;
      width: 100%;
    }
    textarea{
      line-height: 46px;
      font-size: 14px;
      margin-bottom: 20px;
      padding: 0 16px;
      height: 240px;
      width: 100%;
    }
    .error{
    }
    .submit{
      display: block;
      line-height: 18px;
      font-size: 14px;
      background: #ffffff;
      padding: 6px 12px;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.25s ease-out 0.2s;
      float: right;
      width: 150px;
      &:hover{
      }

    }
  }

  .comment-news{
    padding: 40px 130px;
    margin-bottom: 20px;
    display: none;
    .fb_iframe_widget {
      display: inline-block;
      position: relative;
      width: 100%;
      span{
        width: 100% !important;
        iframe{
          width: 100% !important;
        }
      }
    }
  }

  .system{
    padding-top: 20px;
    margin-bottom: 20px;
    .google-map-canvas{
      padding-right: 15px;
      .map-canvas{
        height: 306px;
      }
    }
    .google-map-control{
      padding-left: 15px;
      .google-map-address{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          a{
            font-size: 12px;
            line-height: 20px;
            display: block;
            padding: 10px 10px 10px 45px;
            position: relative;
            letter-spacing: 2px;
            text-decoration: none;
            .fa{
              display: block;
              width: 45px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              font-size: 25px;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -15px;
            }
          }
        }
      }
    }
  }

  .footer{
    padding-top: 30px;
    h3{
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .footer-left{
      margin-bottom: 30px;
      .content{
        padding: 5px 0;
        margin-bottom: 10px;
        p{
          margin: 0;
          font-size: 12px;
          line-height: 23px;
        }
      }
      img{
        width: 160px;
      }
    }
    .footer-mid{
      margin-bottom: 30px;
      .navbar-form{
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-height: 38px;
        position: relative;
        margin-bottom: 8px;
      }
      .form-group{
        width: 100%;
        .form-control{
          width: 100%;
          min-height: 38px;
          border: none;
          border-radius: inherit;
          box-shadow: none;
          font-size: 14px;
        }
        .btn{
          position: absolute;
          right: -1px;
          top: -1px;
          min-height: 40px;
          border-radius: inherit;
          box-shadow: none;
          font-size: 10px;
          color: #ffffff;
          padding: 12px 5px;
          line-height: 14px;
          &:hover{
          }
        }
      }
      .share-foot{
        margin-bottom: 20px;
      }
    }
    .footer-right{
      margin-bottom: 30px;

    }
  }

  .copyright{
    font-size: 10px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1279px){

}

@media (min-width: 992px) and (max-width: 1279px){

}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 1280px) and (max-width: 1679px){

}

@media (min-width: 992px) and (max-width: 1279px){

}

@media (min-width: 768px) and (max-width: 991px){

}

//--------------------------------------------------------------------------------------------------------------
@media (min-width: 1680px) and (max-width: 1919px){

}