body{
  font-family: Arial,sans-serif;
}

a{
  outline: none !important;
  text-decoration: none !important;
}

.img-full{
  width: 100%;
}

.slick-sb{
  > div.slview + div.slview{
    display: none;
  }
}
.slick-sc{
   white-space: nowrap;
   overflow: hidden;
   > div.slview{
     display: inline-block;
   }
}

.header-slider{
  .slick-prev,
  .slick-next{
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.banner-slider{
  width: 100%;
  margin-bottom: 0 !important;
  .slick-prev,
  .slick-next{
    left: 0;
    right: 0;
    z-index: -1;
  }
  .slick-dots{
    position: absolute;
    bottom: 10px;
    list-style: none;
    text-align: right;
    padding: 0 20px;
    margin: 0;
    width: 100%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    padding: 0;
  }
  .slick-dots li button{
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    display: block;
    height: 10px;
    width: 10px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 0;
    cursor: pointer;
    &:before{
      position: absolute;
      border: 2px solid #ffffff;
      border-radius: 50%;
      background: #f66a35;
      top: 0;
      left: 0;
      content: '';
      width: 10px;
      height: 10px;
      font-size: 0;
      line-height: 0;
      text-align: center;
    }
  }
}

.brand-slider{
  background: #121212;
  padding: 5px 0;
  img{
    //border: 1px solid #f2f2f2;
  }
  .slick-prev,
  .slick-next{
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.service-slider{
  margin-bottom: 25px;
  img{
    border: 1px solid #f2f2f2;
  }
  .slick-prev,
  .slick-next{
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.products-slider{
  margin-left: 35px;
  margin-right: 35px;
  > div.prod-warp{
    display: inline-block;
    float: inherit;
    max-width: 20%;
    margin-left: -5px;
  }
  > div.prod-warp + div.prod-warp + div.prod-warp + div.prod-warp + div.prod-warp + div.prod-warp{
    display: none;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 100%;
    width: auto;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0 12px;
    outline: none;
    border: none;
    border-radius: inherit;
    transition: all 0.3s ease-out 0.25s;
    &:hover, &:focus {
      outline: none;
      background: rgba(255,255,255,0.8);
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
      z-index: 99;
      &:before {
        opacity: $slick-opacity-on-hover;
        color: #e74f53;
      }
    }
    &.slick-disabled:before {
      opacity: $slick-opacity-not-active;
    }
    &:before {
      line-height: 15px;
      opacity: $slick-opacity-default;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background: transparent;
      font-size: 13px;
      font-weight: 700;
      color: #252525;
      padding: 0;
      text-transform: uppercase;
      transition: all 0.3s ease-out 0.25s;
    }
  }
  .slick-prev {
    left: -35px;
    z-index: 100;
    &:before {
      font-family: FontAwesome;
      content: "\f104";
      font-size: 27px;
      line-height: 27px;
      color: #959595;
    }
  }
  .slick-next {
    right: -35px;
    &:before {
      font-family: FontAwesome;
      content: "\f105";
      font-size: 27px;
      line-height: 27px;
      color: #959595;
    }
  }
}

.slider-for{
  > div.slview + div.slview{
    display: none;
  }
}

.slider-nav{
  > div.slview{
    display: none;
  }
}

.pager-pagination{
  text-align: center;
  padding: 30px 0;
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: inherit;
    > li {
      display: inline; // Remove list-style and block-level defaults
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        padding: 12px 15px;
        line-height: 11px;
        text-decoration: none;
        color: #898989;
        background-color: transparent;
        border: 1px solid #d7d7d7;
        margin-left: 1px;
        margin-right: 1px;
        transition: all 0.3s ease-out 0.25s;
      }
      &:first-child {
        > a,
        > span {
          margin-left: 0;
          border-radius: inherit;
        }
      }
      &:last-child {
        > a,
        > span {
          border-radius: inherit;
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        z-index: 2;
        color: #8560a8;
        background-color: transparent;
        border-color: #8560a8;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 3;
        color: #8560a8;
        background-color: transparent;
        border-color: #8560a8;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        color: #898989;
        background-color: transparent;
        border: 1px solid #d7d7d7;
        cursor: $cursor-disabled;
      }
    }
  }
}

.pager-breadcrumb{
  width: 100%;
  background: #d7d7d7;
  margin-bottom: 20px;
  .breadcrumb{
    padding: 12px 15px;
    list-style: none;
    background-color: #d7d7d7;
    border-radius: inherit;
    border-top: none;
    margin-bottom: 0;
    li{
      a{
        color: #959595;
        font-size: 15px;
        line-height: 15px;
      }
      &:hover{
        a{
          color: #363636;
        }
      }
    }
    .active{
      color: #363636;
    }
  }
}

//HOME
.header-top{
  background: #121212;
  .menu-main{
    float: left;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        float: left;
        padding: 6px 0;
        margin-right: 32px;
        &:last-child{
          margin-right: 0;
        }
        a{
          color: #ffffff;
          display: block;
          font-size: 14px;
          line-height: 16px;
          &:hover{
            color: #ED1C24;
          }
        }
      }
    }
  }
  .lang-vn-en{
    float: right;
    padding: 2px 0;
    a{
      width: 32px;
      height: 24px;
      display: block;
      float: left;
      margin-left: 6px;
      position: relative;
      .flag{
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
      }
      .vi{
        background-image: url("../images/flag-vn.png");
      }
      .en{
        background-image: url("../images/flag-en.png");
      }
      .active{
        opacity: 1;
      }
    }
  }
}

.header-mid{
  padding: 0;
  .my-logo{
    float: left;
    display: block;
    margin-top: 5px;
    img{
      height: 95px;
    }
  }
}

.header-main {
  width: 100%;
  background: #1b1b1b;
  .navbar-epal{
    position: relative;
    min-height: 40px;
    margin-bottom: 0;
    border: none;
    width: 100%;
    border-radius: inherit;
    .navbar-collapse{
      padding-left: 0;
      padding-right: 0;
    }
    .nb-search{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .navbar-home{
    float: left;
    padding: 0 50px 0 0;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    width: 40px;
    .fa{
      color: #ED1C24;
      float: left;
      font-size: 20px;
      line-height: 40px;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 2px;
      left: 0;
      text-align: center;
    }
    &:before{
      content: '';
      background: #FFFFFF;
      position: absolute;
      top: 7px;
      left: 5px;
      width: 30px;
      height: 30px;
      border: 1px solid #ffffff;
      border-radius: 50px;
    }
    &:hover{
      color: #ED1C24;
    }
  }
  .navbar-form{
    position: relative;
    width: 360px;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 40px;
  }
  .form-group{
    width: 100%;
    float: right;
    transition: all 0.5s ease 0.25s;
    padding: 5px 0;
    &:hover{
      .btn{
        color: #363636;
      }
    }
    .form-control{
      width: 100%;
      min-height: 30px;
      border: none;
      border-radius: 5px;
      box-shadow: none;
      background: #f2f2f2;
      font-size: 16px;
      color: #636363;
    }
    .btn{
      position: absolute;
      right: 15px;
      top: 5px;
      min-height: 34px;
      width: 40px;
      border: none;
      border-radius: 5px;
      box-shadow: none;
      background: #f2f2f2;
      font-size: 20px;
      color: #ED1C24;
      padding: 0;
    }
  }
  .navbar-toggle{
    position: relative;
    float: right;
    margin-right: 0;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    .icon-bar{
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 1px;
      background: #ffffff;
    }
  }
  //.sticky{
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  z-index: 9999;
  //}
}

.home-tittle{
  text-align: left;
  position: relative;
  padding: 20px 0;
  &:before{
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background: #e1e1e1;
    position: absolute;
  }
  h2{
    display: inline-block;
    line-height: 24px;
    font-size: 20px;
    color: #959595;
    background: #ffffff;
    margin: 0;
    padding: 5px 35px;
    text-transform: uppercase;
    position: relative;
    &:before{
      content: '';
      width: 0;
      height: 0;
      top: 0;
      left: -17px;
      display: inline-block;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-right: 17px solid #ffffff;
      position: absolute;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      top: 0;
      right: -17px;
      display: inline-block;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 17px solid #ffffff;
      position: absolute;
    }
    span{
      position: absolute;
      width: 100%;
      height: 36px;
      background: #e1e1e1;
      display: inline-block;
      top: -1px;
      left: 0;
      z-index: -1;
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -18px;
        display: inline-block;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-right: 18px solid #e1e1e1;
        position: absolute;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -18px;
        display: inline-block;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 18px solid #e1e1e1;
        position: absolute;
      }
    }
  }
  &.blue-sky{
    h2{
      color: #ffffff;
      background: #207090;
      &:before{
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 17px solid #207090;
      }
      &:after{
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #207090;
      }
    }
  }
}

.home-showroom{
  padding-top: 20px;
  h2{
    background: #0E00FA;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 0;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  h3{
    color: #424242;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .showroom{
    padding: 13px 35px 13px 13px;
    border: 1px solid #f4f4f4;
    margin-bottom: 29px;
    overflow: auto;
    img{
      float: left;
    }
    .address-showroom{
      h4{
        color: #464646;
        margin-top: 5px;
        margin-bottom: 8px;
        margin-left: 66px;
        line-height: 14px;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      p{
        color: #959595;
        margin-left: 66px;
        line-height: 17px;
        margin-bottom: 2px;
        //font-size: 13px;
        padding-left: 17px;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 35px;
      }
      .icon-add-1{
        font-size: 10px;
        &:before{
          position: absolute;
          top: 0;
          left: 0;
          font-family: FontAwesome;
          content: "\f041";
          padding-right: 7px;
        }
      }
      .icon-add-2{
        font-size: 12px;
        &:before{
          position: absolute;
          top: 0;
          left: 0;
          font-family: FontAwesome;
          content: "\f095";
          padding-right: 7px;
        }
      }
    }
  }
}

.home-videos{
  margin-bottom: 15px;
  .row{
    .col-sm-6{
      margin-bottom: 15px;
    }
  }
}

.partners{
  padding-top: 20px;
  h2{
    background: #ED1C24;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 0;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.partners-left{
  margin-bottom: 25px;
  h3{
    color: #363636;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
  }
  a{
    color: #ff0000;
    font-size: 30px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 15px;
    display: inline-block;
  }
}

.partners-right{
  margin-bottom: 25px;
  h3{
    color: #363636;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 13px;
    border-bottom: 2px solid #363636;
    display: inline-block;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      a{
        line-height: 25px;
        color: #363636;
        text-decoration: none;
      }
    }
  }
}

.footer{
  background: #121212;
  padding-top: 30px;
  h3{
    color: #363636;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .footer-left{
    margin-bottom: 30px;
    .content{
      padding: 5px 0;
      margin-bottom: 10px;
      p{
        margin: 0;
        color: #363636;
        font-size: 14px;
        line-height: 23px;
      }
    }
    img{
      width: 160px;
    }
  }
  .footer-mid{
    margin-bottom: 30px;
    .navbar-form{
      width: 100%;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      min-height: 38px;
      position: relative;
      margin-bottom: 8px;
    }
    .form-group{
      width: 100%;
      .form-control{
        width: 100%;
        min-height: 38px;
        border: none;
        border-radius: inherit;
        box-shadow: none;
        background: #f2f2f2;
        font-size: 16px;
        color: #636363;
      }
      .btn{
        position: absolute;
        right: -1px;
        top: -1px;
        min-height: 40px;
        border: 1px solid #ff6a36;
        border-radius: inherit;
        box-shadow: none;
        background: #ff6a36;
        font-size: 14px;
        color: #ffffff;
        padding: 12px 30px;
        line-height: 14px;
        &:hover{
          color: #fff200;
        }
      }
    }
    .share-foot{
      margin-bottom: 20px;
    }
  }
  .footer-right{
    margin-bottom: 30px;

  }
}

.copyright{
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 100%;
  background: #343233;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 0 35px 0;
  margin: 0;
  a{
    color: #ffffff;
    text-decoration: none;
  }
}

.pager-selected{
  margin-bottom: 15px;
  position: relative;
  &.open{
    .btn{
      border: 1px solid #464646;
      &:before {
        background: #464646;
      }
      .caret{
        border-top: 5px solid #ffffff;
      }
    }
  }
  .btn{
    width: 100%;
    border-radius: inherit;
    box-shadow: none;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    color: #636363;
    border: 1px solid #cccccc;
    position: relative;
    text-align: left;
    padding: 6px 20px;
    transition: all 0.3s ease-out 0.25s;
    &:before{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 34px;
      height: 100%;
      background: #cccccc;
      transition: all 0.3s ease-out 0.25s;
    }
    .caret{
      position: absolute;
      top: 50%;
      right: 12px;
      width: 0;
      height: 0;
      border-top: 5px solid #959595;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-bottom: 5px solid transparent;
      transition: all 0.3s ease-out 0.25s;
    }
    &:hover{
      border: 1px solid #464646;
      &:before{
        background: #464646;
      }
      .caret{
        border-top: 5px solid #ffffff;
      }
    }
  }
  .dropdown-menu{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    background: #ffffff;
    border: 1px solid #464646;
    border-radius: inherit;
    box-shadow: none;
    background-clip: padding-box;
    border-top: none;
  }
}

.selected-detail{
  margin-bottom: 20px;
  position: relative;
  &:hover{
    .btn{
      color: #363636;
      span{
        background: #e74f53;
        &:before{
          border-right-color: #e74f53;
        }
        &:after{
          border-left-color: #e74f53;
        }
      }
    }
  }
  &.open{
    .btn{
      color: #363636;
      span{
        background: #e74f53;
        &:before{
          border-right-color: #e74f53;
        }
        &:after{
          border-left-color: #e74f53;
        }
      }
    }
    .dropdown-menu{
      border: 2px solid #e74f53;
    }
  }
  .btn{
    width: 100%;
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #959595;
    background: #ffffff;
    margin: 0;
    padding: 6px 12px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    transition: all 0.25s ease-out 0.2s;
    border: none;
    border-radius: inherit;
    &:before{
      content: '';
      width: 0;
      height: 0;
      top: 0;
      left: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #ffffff;
      position: absolute;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      top: 0;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #ffffff;
      position: absolute;
    }
    span{
      position: absolute;
      width: 100%;
      height: 34px;
      background: #e1e1e1;
      display: inline-block;
      top: -2px;
      left: 0;
      z-index: -1;
      transition: all 0.25s ease-out 0.2s;
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -17px;
        display: inline-block;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 17px solid #e1e1e1;
        position: absolute;
        transition: all 0.25s ease-out 0.2s;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -17px;
        display: inline-block;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #e1e1e1;
        position: absolute;
        transition: all 0.25s ease-out 0.2s;
      }
    }
  }
  .dropdown-menu{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    margin: 0;
    list-style: none;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    background: #ffffff;
    border: 2px solid #e74f53;
    border-radius: inherit;
    box-shadow: none;
    background-clip: padding-box;
  }
}

//PRODUCTS CATEGORY
.products-search{
  margin-bottom: 10px;
}

.products-result{
  .results{
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    margin-bottom: 15px;
    color: #363636;
  }
}

.products-catalog{
  width: 100%;
  .pager-pagination{
    .pagination{
      margin: 30px 0 20px 0;
    }
  }
}

.products-catalog-result{
  width: 100%;

  .pager-pagination{
    .pagination{
      margin: 30px 0 20px 0;
    }
  }
}

.product-grid{
  .prod-warp{
    width: 20%;
  }
}
.product-grid-slide{

}

.prod-warp{
  position: relative;
  float: left;
  &:hover{
    .prod-main{
      img{
        opacity: 1;
      }
    }
    .prod-view{
      display: block;
    }
    .prod-buy{
      display: block;
    }
  }
  .prod-main{
    padding: 14px;
    border: 1px solid #f4f4f4;
    min-height: 100%;
    img{
      opacity: 1;
    }
  }
  .prod-title{
    h4{
      line-height: 11px;
      color: #a5a5a5;
      margin: 10px 0;
      font-size: 14px;
    }
    p{
      line-height: 14px;
      font-size: 20px;
      color: #464646;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-top: 0;
      border-bottom: 1px solid #f4f4f4;
    }
    span{
      line-height: 14px;
      font-size: 20px;
      color: #464646;
      display: inline-block;
      margin-bottom: 11px;
      span{
        line-height: 14px;
        font-size: 20px;
        color: #464646;
        display: inline-block;
        margin-bottom: 11px;
      }
    }
    .cost-new{
      color: #ED1C24;
      span{
        color: #ED1C24;
        line-height: 14px;
        font-size: 20px;
      }
    }
    .cost-old{
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
      color: #9c9c9c;
      text-decoration: line-through;
      padding-top: 0;
      margin-bottom: 0;
      border-top: none;
      span{
        color: #9c9c9c;
        text-decoration: line-through;
        line-height: 10px;
        font-size: 12px;
      }
    }
  }
  .sale-off{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 38px;
    height: 38px;
    background: #ED1C24;
    transform: rotate(45deg);
    z-index: 100;
    display: none;
    span{
      display: block;
      width: 38px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      color: #FFFFFF;
      font-size: 14px;
      transform: rotate(-45deg);
    }
    &.active{
      display: block;
    }
  }
  .prod-new{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 38px;
    height: 38px;
    background: #ED1C24;
    transform: rotate(45deg);
    z-index: 100;
    display: none;
    span{
      display: block;
      width: 38px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      color: #FFFFFF;
      font-size: 14px;
      transform: rotate(-45deg);
    }
    &.active{
      display: block;
    }
  }
  .prod-view{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 145px;
    min-height: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
    z-index: 1;
    transition: all 0.3s ease-out 0.25s;
    //transform: scale(0);
    p{
      color: #464646;
      font-size: 14px;
      line-height: 15px;
      margin: 0;
    }
  }
  .prod-buy{
    display: none;
    position: absolute;
    width: 100%;
    bottom: 106px;
    left: 0;
    z-index: 2;
    text-align: center;
    a{
      background: #ED1C24;
      color: #ffffff;
      line-height: 11px;
      font-size: 14px;
      display: inline-block;
      padding: 10px 35px;
    }
  }
}

//PRODUCTS DETAIL

.products-detail{
  .slider-for{
    margin-bottom: 20px;
  }
  .slider-nav{
    margin-bottom: 40px;
    .slick-prev,
    .slick-next {
      position: absolute;
      display: block;
      height: 100%;
      width: auto;
      line-height: 0;
      font-size: 0;
      cursor: pointer;
      background: rgba(255,255,255,0.8);
      color: transparent;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 0 8px;
      outline: none;
      border: none;
      border-radius: inherit;
      transition: all 0.3s ease-out 0.25s;
      &:hover, &:focus {
        outline: none;
        background: rgba(255,255,255,0.8);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.7);
        z-index: 99;
        &:before {
          opacity: $slick-opacity-on-hover;
          color: #e74f53;
        }
      }
      &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
      }
      &:before {
        line-height: 15px;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: transparent;
        font-size: 13px;
        font-weight: 700;
        color: #252525;
        padding: 0;
        text-transform: uppercase;
        transition: all 0.3s ease-out 0.25s;
      }
    }
    .slick-prev {
      left: 0;
      z-index: 100;
      &:before {
        font-family: FontAwesome;
        content: "\f104";
        font-size: 27px;
        line-height: 27px;
        color: #959595;
      }
    }
    .slick-next {
      right: 0;
      &:before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 27px;
        line-height: 27px;
        color: #959595;
      }
    }
  }
  .prod-detail-title{
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .products-imfo{
    overflow: auto;
    ul{
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      li{
        border-top: 1px solid #e1e1e1;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        &:last-child{
          border-bottom: 1px solid #e1e1e1;
        }
        p{
          width: 50%;
          display: inline-block;
          font-size: 15px;
          line-height: 16px;
          padding: 12px 0 12px 17px;
          margin: 0;
        }
      }
    }
  }
  .see-more{
    display: block;
    text-align: center;
    color: #c2c2c2;
    background: #f8dfe0;
    line-height: 6px;
    padding: 9px;
    border: 1px solid #f8dfe0;
  }
  .prod-detail-select{
    padding-top: 0;
    p{
      margin-top: 0;
      margin-bottom: 5px;
      color: #363636;
      line-height: 18px;
      font-size: 15px;
    }
    span{
      display: inline-block;
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 5px;
      color: #4c4c4c;
      span{
        display: inline-block;
      }
      &.cost-new{
        color: #ED1C24;
        span{
          color: #ED1C24;
        }
      }
      &.cost-old{
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 19px;
        color: #9c9c9c;
        text-decoration: line-through;
        span{
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 19px;
          color: #9c9c9c;
          text-decoration: line-through;
        }
      }
    }
  }
  .buy-it{
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #959595;
    background: #ffffff;
    margin-bottom: 20px;
    padding: 6px 12px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    transition: all 0.25s ease-out 0.1s;
    margin-left: 10px;
    margin-right: 10px;
    &:hover{
      color: #ED1C24;
      span{
        background: #ED1C24;
        &:before{
          border-right-color: #ED1C24;
        }
        &:after{
          border-left-color: #ED1C24;
        }
      }
    }
    &:before{
      content: '';
      width: 0;
      height: 0;
      top: 0;
      left: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #ffffff;
      position: absolute;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      top: 0;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #ffffff;
      position: absolute;
    }
    span{
      position: absolute;
      width: 100%;
      height: 34px;
      background: #e1e1e1;
      display: inline-block;
      top: -2px;
      left: 0;
      z-index: -1;
      transition: all 0.25s ease-out 0.2s;
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -17px;
        display: inline-block;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 17px solid #e1e1e1;
        position: absolute;
        transition: all 0.25s ease-out 0.2s;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -17px;
        display: inline-block;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #e1e1e1;
        position: absolute;
        transition: all 0.25s ease-out 0.2s;
      }
    }
  }
}

.products-same{
  margin-bottom: 20px;
  h2{
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    text-transform: uppercase;
    color: #363636;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.products-comment{
  padding-top: 30px;
  .nav-tabs {
    border-bottom: none;
    > li {
      float: left;
      margin-bottom: 0;
      > a {
        margin-right: 2px;
        line-height: 20px;
        font-size: 18px;
        border: none;
        border-radius: inherit;
        background: transparent;
        color: #9c9c9c;
        text-transform: uppercase;
        padding: 17px 30px;
        &:hover {
          border-color: transparent;
          background: #f3f3f3;
          color: #464646;
        }
      }

      // Active state, and its :hover to override normal :hover
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: #464646;
          background-color: #f3f3f3;
          border: none;
          border-bottom-color: transparent;
          cursor: default;
        }
      }
    }
    // pulling this in mainly for less shorthand
    &.nav-justified {
      @extend .nav-justified;
      @extend .nav-tabs-justified;
    }
  }
  .tab-content{
    background: #f3f3f3;
    padding: 30px;
    .content{
      p{
        font-size: 15px;
        line-height: 20px;
        color: #464646;
        margin-bottom: 25px;
      }
      img{
        margin: 0 auto 25px auto;
      }
    }
  }
  .fb_iframe_widget {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #ffffff;
    span{
      width: 100% !important;
      iframe{
        width: 100% !important;
      }
    }
  }
}

.video-youtube{
  img{
    margin: auto;
  }
}

//NEWS

.news-imfo{
  padding-top: 15px;
  .news-left{
    .input-group{
      position: relative;
      display: table;
      border-collapse: separate;
      margin-bottom: 30px;
      .form-control{
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        display: block;
        height: 38px;
        padding: 11px 19px;
        font-size: 14px;
        line-height: 16px;
        color: #b2b2b2;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #c2c2c2;
        border-radius: 50px;
        box-shadow: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        font-style: italic;
        border-right: none;
      }
      .input-group-btn{
        .btn{
          display: inline-block;
          margin-bottom: 0;
          font-weight: normal;
          text-align: center;
          vertical-align: middle;
          background-image: none;
          background-color: #ffffff;
          border: 1px solid #c2c2c2;
          white-space: nowrap;
          height: 38px;
          padding: 11px 19px;
          font-size: 16px;
          line-height: 16px;
          color: #b2b2b2;
          border-radius: 50px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-left: none;
        }
      }
    }
    .tab-aside-top{
      margin-bottom: 30px;
      ul{
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          background: #ffffff;
          a{
            line-height: 18px;
            font-size: 18px;
            padding: 15px;
            display: block;
            color: #707070;
            border: 1px solid #ebebeb;
            margin: -1px;
            position: relative;
            &:before{
              position: absolute;
              content: '';
              width: 0;
              height: 0;
              top: 18px;
              right: 0;
              border-right: 6px solid #464646;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              display: none;
            }
          }
          &:hover{
            background: #ffffff;
            a{
              color: #707070;
              border: 1px solid #464646;
              z-index: 1;
              &:before{
                display: block;
              }
            }
          }
        }
        .title{
          background: #464646;
          a{
            color: #ffffff;
            border: 1px solid #464646;
            z-index: 1;
          }
        }
        .current{
          background: #ffffff;
          a{
            color: #707070;
            border: 1px solid #464646;
            z-index: 1;
            &:before{
              display: block;
            }
          }
        }
      }

    }
    .tab-aside-bottom{
      margin-bottom: 30px;
      ul{
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid #ebebeb;
        li{
          padding: 14px 15px 0 12px;
          img{
            float: left;
            border: 1px solid #ebebeb;
          }
          .hot-news{
            padding-left: 100px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ebebeb;
            h4{
              color: #464646;
              margin-top: 0;
              margin-bottom: 4px;
              line-height: 18px;
              font-size: 16px;
            }
            p{
              color: #707070;
              line-height: 18px;
              margin-bottom: 5px;
              font-size: 13px;
              position: relative;
            }
            span{
              display: inline-block;
              color: #959595;
              font-size: 10px;
              line-height: 12px;
              padding-right: 5px;
              margin-right: 5px;
              border-right: 1px solid #959595;
            }
            .new-icon1{
              &:before{
                font-family: FontAwesome;
                content: "\f040";
                padding-right: 5px;
              }
            }
            .new-icon2{
              &:before{
                font-family: FontAwesome;
                content: "\f017";
                padding-right: 5px;
              }
            }
            .new-icon3{
              padding-right: 0;
              margin-right: 0;
              border-right: none;
              &:before{
                font-family: FontAwesome;
                content: "\f27b";
                padding-right: 5px;
              }
            }
          }
          &:last-child{
            .hot-news{
              border-bottom: 1px solid transparent;
            }
          }
        }
        .title{
          padding: 0;
          a{
            line-height: 18px;
            font-size: 18px;
            padding: 15px;
            display: block;
            color: #ffffff;
            border: 1px solid #464646;
            margin: -1px;
            position: relative;
            background: #464646;
          }
        }
      }
    }
  }
  .news-right{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 23px;
    h2{
      color: #464646;
      margin-top: 0;
      margin-bottom: 12px;
      line-height: 35px;
      font-size: 30px;
    }
    p{
      color: #707070;
      line-height: 18px;
      margin-bottom: 11px;
      font-size: 15px;
      position: relative;
    }
    .news-see{
      display: inline-block;
      line-height: 18px;
      font-size: 14px;
      color: #959595;
      background: #ffffff;
      margin-bottom: 30px;
      margin-left: 15px;
      padding: 6px 12px;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      transition: all 0.25s ease-out 0.2s;
      &:hover{
        color: #363636;
        span{
          background: #e74f53;
          &:before{
            border-right-color: #e74f53;
          }
          &:after{
            border-left-color: #e74f53;
          }
        }
      }
      &:before{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        left: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #ffffff;
        position: absolute;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        top: 0;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #ffffff;
        position: absolute;
      }
      span{
        position: absolute;
        width: 100%;
        height: 34px;
        background: #e1e1e1;
        display: inline-block;
        top: -2px;
        left: 0;
        z-index: -1;
        transition: all 0.25s ease-out 0.2s;
        border: none;
        padding: 0;
        margin: 0;
        &:before{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          left: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          border-right: 17px solid #e1e1e1;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
        &:after{
          content: '';
          width: 0;
          height: 0;
          top: 0;
          right: -17px;
          display: inline-block;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          border-left: 17px solid #e1e1e1;
          position: absolute;
          transition: all 0.25s ease-out 0.2s;
        }
      }
    }
    img{
      margin-bottom: 15px;
    }
    span{
      display: inline-block;
      color: #959595;
      font-size: 12px;
      line-height: 12px;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #959595;
      margin-bottom: 18px;
    }
    .new-icon1{
      &:before{
        font-family: FontAwesome;
        content: "\f040";
        padding-right: 5px;
      }
    }
    .new-icon2{
      &:before{
        font-family: FontAwesome;
        content: "\f017";
        padding-right: 5px;
      }
    }
    .new-icon3{
      padding-right: 0;
      margin-right: 0;
      border-right: none;
      &:before{
        font-family: FontAwesome;
        content: "\f27b";
        padding-right: 5px;
      }
    }
    .pager-pagination{
      .pagination{
        margin: 0 0 20px 0;
      }
    }
  }
}

//NEW DETAIL

.news-detail{
  margin-bottom: 23px;
  h1{
    color: #464646;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 35px;
    font-size: 30px;
  }
  p{
    color: #707070;
    line-height: 18px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  img{
    margin-bottom: 25px;
  }
  span{
    display: inline-block;
    color: #959595;
    font-size: 12px;
    line-height: 12px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #959595;
    margin-bottom: 18px;
  }
  .new-icon1{
    &:before{
      font-family: FontAwesome;
      content: "\f040";
      padding-right: 5px;
    }
  }
  .new-icon2{
    &:before{
      font-family: FontAwesome;
      content: "\f017";
      padding-right: 5px;
    }
  }
  .new-icon3{
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    &:before{
      font-family: FontAwesome;
      content: "\f27b";
      padding-right: 5px;
    }
  }
}
.share-social{
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
  p{
    color: #707070;
    line-height: 18px;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.comment-news{
  padding: 40px 130px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
  .fb_iframe_widget {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #ffffff;
    span{
      width: 100% !important;
      iframe{
        width: 100% !important;
      }
    }
  }
}

//NEWS RECRUITMENT

.news-title-recruit{
  line-height: 35px;
  margin-bottom: 28px;
  font-size: 30px;
  margin-top: 0;
  color: #464646;
  text-transform: uppercase;
}
.news-recruit{
  margin-bottom: 28px;
  .panel{
    margin-bottom: 2px;
    background-color: #fff;
    border: none;
    border-radius: inherit;
    box-shadow: none;
  }
  .news-heading{
    a{
      color: #ffffff;
      background: #464646;
      line-height: 20px;
      font-size: 16px;
      padding: 14px;
      display: block;
      transition: all 0.35s ease-out;
      &:after{
        font-family: FontAwesome;
        content: "\f068";
        float: right;
        transition: all 0.35s ease-out;
      }
    }
    .collapsed{
      color: #959595;
      background: #ebebeb;
      &:after{
        font-family: FontAwesome;
        content: "\f067";
        float: right;
      }
      &:hover{
        color: #ffffff;
        background: #464646;
        &:after{
          font-family: FontAwesome;
          content: "\f068";
          float: right;
          transition: all 0.35s ease-out;
        }
      }
    }
  }
  .news-body{
    padding: 20px 15px;
    p{
      color: #959595;
      line-height: 17px;
      margin-bottom: 16px;
      margin-top: 0;
      font-size: 15px;
    }
    img{
      margin-bottom: 20px;
    }
  }
}

//NEWS CONTACT
.news-title-contact{
  line-height: 35px;
  margin-bottom: 28px;
  font-size: 30px;
  margin-top: 0;
  color: #464646;
  text-transform: uppercase;
}
#commentForm{
  label{
    line-height: 48px;
    color: #464646;
    font-size: 16px;
    margin-bottom: 20px;
    float: right;
  }
  input{
    line-height: 46px;
    border: 1px solid #e1e1e1;
    color: #888888;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 16px;
    width: 100%;
  }
  textarea{
    line-height: 46px;
    border: 1px solid #e1e1e1;
    color: #888888;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 16px;
    height: 240px;
    width: 100%;
  }
  .error{
    border-color: red;
  }
  .submit{
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #464646;
    background: #ffffff;
    padding: 6px 12px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.25s ease-out 0.2s;
    float: right;
    width: 150px;
    &:hover{
      color: #e74f53;
      border-color: #e74f53;
    }

  }
}

//SYSTEM
.system{
  padding-top: 20px;
  margin-bottom: 20px;
  .google-map-canvas{
    padding-right: 0;
    .map-canvas{
      height: 306px;
    }
  }
  .google-map-control{
    padding-left: 0;
    .google-map-address{
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      li{
        a{
          color: #7f7f7f;
          font-size: 12px;
          line-height: 20px;
          display: block;
          padding: 10px 10px 10px 45px;
          position: relative;
          letter-spacing: 2px;
          text-decoration: none;
          border-bottom: 1px solid #e0e0e0;
          .fa{
            display: block;
            width: 45px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 25px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -15px;
          }
        }
      }
    }
  }
}

//ASIDE CORE BRAIN
.core-brain{
  background: #0C4D69;
  border-radius: 8px 0 0 8px;
  bottom: 40%;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  z-index: 2000;
  &.full {
    border-radius: 0;
    bottom: 0;
    box-shadow: -2px 0 5px 0 rgba(125, 125, 125, 0.75);
    height: 100%;
    > .modules{
      > li{
        &.minify {
          display: block;
          height: calc(100% - 250px);
        }
        &.first:hover, &:last-child:hover {
          border-radius: 0;
        }
        .col-exp {
          display: none;
        }
      }

    }
    .panel{
      display: block;
    }
  }
  > .modules {
    float: left;
    height: 100%;
    max-width: 42px;
    padding: 0;
    margin: 0;
    > li{
      cursor: pointer;
      display: block;
      padding: 5px 4px;
      position: relative;
      text-align: center;
      &:hover {
        background-color: #188de7;
      }
      &.active, &.active:hover {
        background-color: #fff;
        > .icon-label,> .description{
          color: #444444;
        }
      }
      &.minify{
        display: none;
        > .icon-collapse{
          display: block;
          width: 100%;
          height: 20px;
          color: #ffffff;
          &:before{
            font-family: 'FontAwesome';
            content: $fa-var-angle-double-right;
            width: 100%;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      &.first:hover {
        border-radius: 8px 0 0 0;
      }
      &:last-child:hover {
        border-radius: 0 0 0 8px;
      }
      > .icon-label{
        color: #ffffff;
        font-size: 34px;
      }
      > .description {
        color: #fff;
        display: block;
        font-size: 8px;
        line-height: 14px;
        margin-top: 4px;
      }
      > .cb-badge {
        background-color: #ED1B24;
        border: 1px solid #ED1B24;
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 20px;
      }
    }
  }
  .panel {
    display: none;
    float: left;
    height: 100%;
    width: 300px;
    background: #f8f8f8;
    > div{
      height: 100%;
    }
    .head {
      box-sizing: border-box;
      color: #666;
      font-size: 18px;
      min-height: 40px;
      padding: 10px;
    }
    .button {
      border: 0 none;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin-top: 10px;
      padding: 20px;
      text-align: center;
      &.button {
        width: 100%;
      }
      &.orange {
        background-color: #fd860c;
        color: #fff;
        &:hover {
          background-color: #ffa40d;
        }
      }
      &.blue {
        background-color: #1d8efb;
        color: #fff;
        &:hover {
          background-color: #349bff;
        }
      }
    }
    .pull-bottom {
      -ms-flex: 1 100%;
      -webkit-flex: 1 100%;
      flex: 1 1 100%;
      align-self: flex-end;
    }
  }
  .cols {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .price-color {
    color: #f44336;
  }
  .cart-body{
    //align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    align-content: space-between;
  }
  .hide {
    display: none;
  }
}

//HOT LINE
.hot-line{
  width: 304px;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: calc(50% - 152px);
  z-index: 2000;
  span{
    background: #ED1C24;
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 8px 8px 0 0;
    a{
      font-size: 16px;
      color: #ffffff;
    }
  }
}

//ORDER
.section-order-form{
  background-color: #F3F3F3;
  border: 1px solid #f1f1f1;
  @include border-radius(4px);
  @include box-shadow(0 10px 50px 0 rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  z-index: 3000;
  h1{
    border-bottom: 1px solid #f1f1f1;
    border-radius: 4px 4px 0 0;
    display: block;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    padding: 6px;
    text-align: center;
    margin: 0;
    color: #ED1C24;
    .back {
      display: inline-block;
      font-weight: bold;
      line-height: 24px;
      width: 24px;
      font-size: 28px;
      float: left;
    }

  }
  .coupons, .values{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      text-align: right;
      margin-bottom: 5px;
      &.label-text{
        color: #4a90e2;
        cursor: pointer;
      }
      .smalltxt{
        width: 210px;
        display: inline-block;
        i{
          font-size: 10px;
          line-height: 10px;
        }
      }
      .price-color{
        width: 110px;
        display: inline-block;
        font-weight: bold;
        color: #ED1B24;
        font-size: 15px;
      }
    }
  }

  .step-head{
    margin: 10px 0;
    .cf{
      display: inline-block;
      .radio-ctnr{
        input{
          display: none;
        }
        label{
          display: inline-block;
          margin: 0;
          cursor: pointer;
          padding: 5px 10px;
        }
        input:checked + label{
          color: #ffffff;
          background-color: #f44336;
        }
      }
    }
  }
  .receipt-method-tabs{
    padding: 0;
    list-style: none;
    li{
      display: block;
      width: 50%;
      float: left;
      text-align: center;
      input{
        display: none;
      }
      label{
        background-color: #EDEDED;
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
      }
      input:checked + label{
        color: #f44336;
        background-color: #ffffff;
      }
    }
  }
  .receipt-method-content{
    background-color: #ffffff;
    .scroll{
      overflow: scroll;
      overflow-x: hidden;
      height: 235px;
      .list-group{
        margin-bottom: 0;
        li{
          padding: 0;
          input{
            display: none;
          }
          label{
            display: block;
            padding: 10px 15px;
            margin: 0;
          }
          input:checked + label{
            color: #ffffff;
            background-color: #f44336;
          }
        }
      }
    }
  }


  .transaction{
    list-style: none;
    padding: 0;
    li{
      ul{
        list-style: none;
        //display: none;
      }
    }
  }

  .invoice{
    .form-horizontal{
      .form-group{
        label{
          text-align: left;
        }
      }
    }
  }
  .action{
    margin-bottom: 15px;
    button{
      width: 100%;
    }
  }
  .foot{
    color: #aaaaaa;
    a{
      color: #0095F3;
    }
    .back{
      display: block;
      margin-bottom: 15px;
    }
  }
}

.product-list{
  align-self: flex-start;
  flex: 1 1 100%;
  list-style: none;
  padding: 0;
  li {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    .del {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 50%;
      color: #999;
      cursor: pointer;
      font-size: 8px;
      height: 14px;
      line-height: 14px;
      padding: 0;
      position: absolute;
      right: 4px;
      text-align: center;
      top: 4px;
      width: 14px;
      &:hover {
        border: 1px solid #999;
      }
    }
    img {
      float: left;
      margin-bottom: 15px;
      margin-right: 10px;
    }
    .info{
      > a {
        display: block;
        color: #666;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 168px;
        &:hover {
          color: #4a90e2;
          text-decoration: underline;
        }
      }
      > strong {
        color: #f44336;
        line-height: 20px;
      }
      > .color{
        line-height: 20px;
        margin-right: 10px;
        .hex{
          cursor: pointer;
          display: inline-block;
          height: 10px;
          width: 10px;
        }
      }

    }
    .quantity {
      -moz-user-select: none;
      button {
        background: transparent none repeat scroll 0 0;
        display: inline-block;
        margin-left: 10px;
      }
      .lbl {
        color: #999;
        font-size: 12px;
        margin-left: 0;
      }
      .action {
        border: 1px solid transparent;
        border-radius: 50%;
        color: #ffa40d;
        cursor: pointer;
        display: inline-block;
        height: 14px;
        line-height: 12px;
        padding: 0;
        text-align: center;
        width: 14px;
        &:hover {
          border: 1px solid #ffa40d;
        }

      }
      .num {
        color: #999;
        margin-left: 10px;
      }

    }
  }
}








