.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*** arrows (for all except IE7) **/
.sf-arrows {
  .sf-with-ul {
    padding-right: 2.5em;
    *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */

    /* styling for both css and generated arrows */
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1em;
      margin-top: -3px;
      height: 0;
      width: 0;
      /* order of following 3 rules important for fallbacks to work */
      border: 5px solid transparent;
      border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
      border-top-color: rgba(255, 255, 255, .5);
    }
  }
  ul {
    .sf-with-ul {
      &:after {
        margin-top: -5px;
        margin-right: -3px;
        border-color: transparent;
        border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
        border-left-color: rgba(255, 255, 255, .5);
      }
    }
  }
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white; /* IE8 fallback colour */
}

/* styling for right-facing arrows */
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white;
}

@media (min-width: 768px) {
  .sf-menu {
    > li {
      //padding: 12px 15px;
      position: relative;
      > ul{
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        width: 1000px;
        z-index: 9999;
        background: rgba(27,27,27,1);
        background: -moz-linear-gradient(top, rgba(27,27,27,1) 0%, rgba(98,98,98,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,27,27,1)), color-stop(100%, rgba(98,98,98,1)));
        background: -webkit-linear-gradient(top, rgba(27,27,27,1) 0%, rgba(98,98,98,1) 100%);
        background: -o-linear-gradient(top, rgba(27,27,27,1) 0%, rgba(98,98,98,1) 100%);
        background: -ms-linear-gradient(top, rgba(27,27,27,1) 0%, rgba(98,98,98,1) 100%);
        background: linear-gradient(to bottom, rgba(27,27,27,1) 0%, rgba(98,98,98,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#626262', GradientType=0 );
        > li{
          float: left;
          width: 25%;
          padding: 20px 15px;
          > a {
            color: #ffffff;
            line-height: 16px;
            border: none;
            padding: 0;
            display: block;
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
          }
          ul{
            li{
              &:hover{
                a{
                }
              }
              a{
                color: #ffffff;
                line-height: 16px;
                border: none;
                display: block;
                font-size: 12px;
                text-transform: uppercase;
                padding: 5px 5px;
                //border-top: 1px solid #363636;
              }
            }
          }
        }
      }
      > a {
        padding: 12px 15px;
        color: #ffffff;
        line-height: 20px;
        border: none;
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        &:hover{
          background-color: #ED1C24;
        }
      }
    }
    > li.current, > li.section, li:hover {
      //background-color: #ED1C24;
      > ul{
        display: block;
      }
      > a {
        //background-color: #ED1C24;
        color: #ffffff;
        border-top: none;
      }
    }
    > li li.current, > li li.section, > li li:hover{
      > a {
        color: #FDFF56;
        border-top: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .sf-menu {
    > li {
      //padding: 12px 5px;
      > ul{
        width: 670px;
        > li{

          > a {
            font-size: 12px;
          }
          ul{
            li{
              &:hover{
                a{

                }
              }
              a{
                font-size: 10px;
              }
            }
          }
        }
      }
      > a {
        padding: 12px 8px;
        font-size: 12px;
      }
    }
    > li.current, > li.section, > li:hover {
      > ul{

      }
      > a {

      }
    }
    > li li.current, > li li.section, > li li:hover{
      > a {

      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sf-menu {
    > li {
      //padding: 12px 12px;
      > ul{
        width: 890px;
        > li{

          > a {
            font-size: 14px;
          }
          ul{
            li{
              &:hover{
                a{

                }
              }
              a{
                font-size: 12px;
              }
            }
          }
        }
      }
      > a {
        padding: 12px 12px;
        font-size: 14px;
      }
    }
    > li.current, > li.section, > li:hover {
      > ul{

      }
      > a {

      }
    }
    > li li.current, > li li.section, > li li:hover{
      > a {

      }
    }
  }
}

@media (max-width: 767px){
  .sf-menu {
    a {
      color: #ffffff;
      line-height: 20px;
      border: none;
      padding: 0;
      display: block;
      font-size: 16px;
      text-transform: uppercase;
    }
    li {
      position: relative;
      .arrow{
        display: block;
        width: 32px;
        height: 32px;
        background-color: red;
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;
      }
    }
    > li {
      > a {
        font-size: 12px;
        line-height: 14px;
        padding: 14px 15px;
      }
      li {
        a {
        }
      }
      > ul {
        display: block;
        ul {
        }
      }
    }
    > li.current, > li.section, > li:hover, > li li.current, > li li.section {
      > a {
        background-color: #0c4d69;
        color: #ffffff;
      }
      > ul {
        display: block;
        ul {
        }
      }
    }

    ul {
      border-left: 5px solid #ffffff;
      li {
        a{
          font-size: 12px;
          line-height: 14px;
          padding: 14px 14px;
        }
      }
      > li{
        > a{
          border-bottom: 1px solid #ffffff;
        }
      }
      > li.current, > li.section, > li:hover{
        > a {
          color: #ffffff;
          background-color: #0c4d69;
        }
        ul{
          display: block;
        }
      }

      ul {
        margin-left: 2px;
        border-left: 3px solid #ffffff;
        display: block;
        li {
        }
        > li.current, > li.section, > li:hover{
          > a {
            color: #ffffff;
            background-color: #0c4d69;
          }
          ul{
            display: block;
          }
        }
      }
    }

  }
}

/*
<ul class="sf-menu" id="example">
			<li class="current">
				<a href="followed.html">menu item 1</a>
				<ul>
					<li>
						<a href="followed.html">menu item</a>
					</li>
					<li class="current">
						<a href="followed.html">long menu item sets sub width</a>
						<ul>
							<li class="current"><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="followed.html">menu item 2</a>
			</li>
			<li>
				<a href="followed.html">menu item 3</a>
				<ul>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="followed.html">menu item 4</a>
			</li>
		</ul>
*/

/* sai kem voi boostrap
<nav class="navbar navbar-epal">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand my-logo" href="home.html">
				<img src="images/logo.png" alt="">
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="sf-menu nav navbar-nav navbar-right">
				<li class="current"><a href="home.html">Trang chu</a></li>
				<li><a href="gioithieu.html">Gioi Thieu</a></li>
				<li>
					<a href="sanpham.html">S?n Ph?m</a>
					<ul>
						<li><a class="" href="sanpham-category.html">Ph?n b?n MAXONE</a>
							<ul>
								<li><a class="" href="sanpham-category.html">Ph?n b?n MAXONE</a></li>
								<li><a class="" href="sanpham-category.html">Ph?n b?n NPK</a></li>
								<li><a class="" href="sanpham-category.html">Ph?n b?n h?u c?</a></li>
								<li><a class="" href="sanpham-category.html">Ph?n trung vi l??ng</a></li>
								<li><a class="" href="sanpham-category.html">Ph?n ??c ch?ng</a></li>
								<li><a class="" href="sanpham-category.html">Ph?n b?n l?</a></li>
								<li><a class="" href="sanpham-category.html">Ph?n h?n h?p</a></li>
							</ul>
						</li>
						<li><a class="" href="sanpham-category.html">Ph?n b?n NPK</a></li>
						<li><a class="" href="sanpham-category.html">Ph?n b?n h?u c?</a></li>
						<li><a class="" href="sanpham-category.html">Ph?n trung vi l??ng</a></li>
						<li><a class="" href="sanpham-category.html">Ph?n ??c ch?ng</a></li>
						<li><a class="" href="sanpham-category.html">Ph?n b?n l?</a></li>
						<li><a class="" href="sanpham-category.html">Ph?n h?n h?p</a></li>
					</ul>
				</li>
				<li>
					<a href="tintuc.html">Tin T?c</a>
					<ul>
						<li><a class="" href="tintuc-category.html">Tin ho?t ??ng c?ng ty</a></li>
						<li><a class="" href="tintuc-category.html">Tin nh? n?ng</a></li>
						<li><a class="" href="tintuc-category.html">Tin n?ng nghi?p</a></li>
						<li><a class="" href="tintuc-category.html">Ph?n b?n v?i nh? n?ng</a></li>
						<li><a class="" href="tintuc-category.html">Chia s? kinh nghi?p</a></li>
					</ul>
				</li>
				<li>
					<a href="hoidap.html">H?i ??p</a>
					<ul>
						<li><a class="" href="hoidap-category.html">H?i ??p v? ph?n b?n</a></li>
						<li><a class="" href="hoidap-category.html">H?i ??p v? ??i l?</a></li>
					</ul>
				</li>
				<li><a href="video.html">Video</a></li>
				<li><a href="lienhe.html">Li?n H?</a></li>
			</ul>
		</div>
	</div>
</nav>

*/